{% extends "page_skeleton.html" %}

{%block title%} <title>Progetto WebApp - Lista Ordini</title> {% endblock%}

{% block content %}
<div class="heading bg-secondary text-white"><i class="fas fa-list"></i> Tabella ordini per {{request.session.nome}}</div>
<input type="hidden" name="gruppo" value="{{ gruppo }}" />

  <div class="table-responsive">
    <table class="table table-hover" id="order_list_table" name="order_list_table">
      <caption>Lista ordini per {{request.session.nome}}</caption>
      <thead class="table-light">
        <th scope="col"><span class="ordina" sort="ord_num"><i class="fas fa-sort"></i> Order ID</span></th>
        <th scope="col"><span class="ordina" sort="ord_date"><i class="fas fa-sort"></i> Date</span></th>
        <th scope="col"><span class="ordina" sort="ord_amount"><i class="fas fa-sort"></i> Amount</span></th>
        <th scope="col"><span class="ordina" sort="advance_amount"><i class="fas fa-sort"></i> Advance amount</span></th>
      {% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
        <th scope="col"><span class="ordina" sort="cust_code"><i class="fas fa-sort"></i> Customer</span></th>
      {% endif %}
      {% if request.session.gruppo == "customers" or request.session.gruppo == "managers"  %}
        <th scope="col"><span class="ordina" sort="agent_code"><i class="fas fa-sort"></i> Agent</span></th>
      {% endif %}
        <th scope="col">Description</th>
        <th scope="col">Options</th>
      </thead>
      <tbody id="orderTable">
    {% for i in order_list %} 
        <tr id="row_{{ i.ord_num }}">
          <td>{{ i.ord_num }}</td>
          <td>{{ i.ord_date|date:'d/m/Y' }}</td>
          <td>{{ i.ord_amount }}</td>
          <td>{{ i.advance_amount }}</td>
      {% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
          <td><a href="javascript:void(0);" class="popover_cli" code="{{ i.cust_code }}"> {{ i.cust_code.cust_name }}</a>
          </td>
      {% endif %}
      {% if request.session.gruppo == "customers" or request.session.gruppo == "managers"  %}
          <td><a href="javascript:void(0);" class="popover_age" code="{{ i.agent_code }}"> {{ i.agent_code.agent_name }}</a>
          </td>
      {% endif %}
          <td>{{ i.ord_description }}</td>
          <td class="nowrap">
            <a href="/ordini/{{ i.ord_num  }}/" title="Dettaglio ordine {{ i.ord_num  }}"><i class='fas fa-search'></i></a>
              &nbsp;&nbsp;&nbsp;
      {% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
            <a href="/ordini/modifica/{{ i.ord_num  }}/" title="Modifica ordine {{ i.ord_num  }}"><i class='fas fa-edit'></i></a>
              &nbsp;&nbsp;&nbsp;
            <a class="delete_order" id="{{ i.ord_num }}" title="Elimina ordine {{ i.ord_num  }}"><i class='fas fa-trash-alt'></i></a>
          </td>
      {% endif %}
        </tr>
          
    {% endfor %}

      </tbody>
    </table>
  </div>

  <!-- Questo giusto per tenere il DOM pulito... -->
  <form>
    {% csrf_token %}
  </form>

<!-- Popovers -->
  <div id="popover_customer" style="display:none;">
    <strong>Name:</strong> p_name<br>
    <strong>Code:</strong> p_code<br>
    <strong>City:</strong> p_city<br>
    <strong>Country:</strong> p_country<br>
    <strong>Grade:</strong> p_grade
  </div>

  <div id="popover_agent" style="display:none;">
    <strong>Name:</strong> p_name<br>
    <strong>Code:</strong> p_code<br>
    <strong>Working area:</strong> p_warea<br>
    <strong>Commission:</strong> p_commission<br>
    <strong>Phone:</strong> p_phone
  </div>

<!-- Modal -->
<div class="modal fade" name="modal_confirm" id="modal_confirm" aria-labelledby="modalTitle" aria-describedby="modalDialog" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="modalTitle">Eliminazione ordine</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalDialog">
        <p>Eliminare l'ordine <span id="ordnum_modal">1234</span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="delete_confirm" name="delete_confirm" ordine="">Elimina</button>
      </div>
    </div>
  </div>
</div>

{% load static %}
<script src="{% static 'js/sortOrders.js' %}"></script>
<script src="{% static 'js/deleteOrder.js' %}"></script>
<script src="{% static 'js/popoverCustomer.js' %}"></script>
<script src="{% static 'js/popoverAgent.js' %}"></script>
<script src="{% static 'js/ajax_popoverCustomer.js' %}"></script>
<script src="{% static 'js/ajax_popoverAgent.js' %}"></script>

{% endblock %}
