{% extends "login_page_skeleton.html" %}

{% block content %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
     <!--  <p>Devi avere effettuato il login per visualizzare questa pagina.</p> -->
    {% endif %}
  {% endif %}

  <div class="card">
    <div class="card-header bg-light">
      <i class="fab fa-rebel"></i> Progetto WebApp - Login
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'login' %}" autocomplete="off">
      {% csrf_token %}

        <!-- I valori e gli attributi dei campi username e password sono 
          gli stessi delle due variabili di Django {{ form.username }}
          e {{ form.password }} -->
        <div class="form-group">
          <label for="id_username">Username</label>
          <!-- <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username"> -->
          <input type="text" class="form-control" name="username" autofocus autocapitalize="none" maxlength="150" required id="id_username">
        </div>

        <div class="form-group">
          <label for="id_password">Password</label>
          <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password">
        </div>

        <div class="">&nbsp;</div>
        {% if form.errors %}
          <p style="color: #f00">Username o password non validi!</p>
        {% endif %}

        <button type="submit" id="sendlogin" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />

      </form>
    </div>
  </div>

{% endblock %}
