{% extends "page_skeleton.html" %}

{% block content %}
<div class="heading bg-secondary text-white"><i class="fas fa-list"></i> Tabella ordini per {{request.session.nome}}</div>

	<div class="table-responsive">
		<table class="table table-hover" id="order_list_table" name="order_list_table">
			<caption>Lista ordini per {{request.session.nome}}</caption>
			<thead class="table-light">
				<th scope="col"><span class="ordina" sort="ord_num"><i class="fas fa-sort"></i> Order ID</span></th>
				<th scope="col"><span class="ordina" sort="ord_date"><i class="fas fa-sort"></i> Date</span></th>
				<th scope="col"><span class="ordina" sort="ord_amount"><i class="fas fa-sort"></i> Amount</span></th>
				<th scope="col"><span class="ordina" sort="advance_amount"><i class="fas fa-sort"></i> Advance amount</span></th>
			{% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
				<th scope="col"><span class="ordina" sort="cust_code"><i class="fas fa-sort"></i> Customer</span></th>
			{% endif %}
			{% if request.session.gruppo == "customers" or request.session.gruppo == "managers"  %}
				<th scope="col"><span class="ordina" sort="agent_code"><i class="fas fa-sort"></i> Agent</span></th>
			{% endif %}
				<th scope="col">Description</th>
				<th scope="col">&nbsp;</th>
			</thead>
			<tbody id="orderTable">
		{% for i in order_list %} 
				<tr id="row_{{ i.ord_num }}">
					<td>{{ i.ord_num }}</td>
          <td>{{ i.ord_date|date:'d/m/Y' }}</td>
          <td>{{ i.ord_amount }}</td>
          <td>{{ i.advance_amount }}</td>
			{% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
          <td><a href="javascript:return false;" class="popover_cli" code="{{ i.cust_code }}"> {{ i.cust_code.cust_name }}</a>
					</td>
      {% endif %}
      {% if request.session.gruppo == "customers" or request.session.gruppo == "managers"  %}
          <td><a href="javascript:return false;" class="popover_age" code="{{ i.agent_code }}"> {{ i.agent_code.agent_name }}</a>
					</td>
      {% endif %}
					<td>{{ i.ord_description }}</td>
			{% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
          <td class="nowrap">
						<a href="/ordini/modifica/{{ i.ord_num  }}/" title="Modifica ordine"><i class='fas fa-edit'></i></a>
							&nbsp;&nbsp;&nbsp;
						<a class="delete_order" id="{{ i.ord_num }}" title="Elimina ordine"><i class='fas fa-trash-alt'></i></a>
					</td>
      {% elif request.session.gruppo == "customers" %}
					<td>&nbsp;</td>
      {% endif %}
        </tr>
					
		{% endfor %}

			</tbody>
		</table>
	</div>

	<!-- Questo giusto per tenere il DOM pulito... -->
	<form>
		{% csrf_token %}
	</form>

<!-- Popovers -->
	<div id="popover_customer" style="display:none;">
		<strong>Name:</strong> p_name<br>
		<strong>Code:</strong> p_code<br>
		<strong>City:</strong> p_city<br>
		<strong>Country:</strong> p_country<br>
		<strong>Grade:</strong> p_grade
	</div>

	<div id="popover_agent" style="display:none;">
		<strong>Name:</strong> p_name<br>
		<strong>Code:</strong> p_code<br>
		<strong>Working area:</strong> p_warea<br>
		<strong>Commission:</strong> p_commission<br>
		<strong>Phone:</strong> p_phone
	</div>

<!-- Modal -->
<div class="modal fade" name="modal_confirm" id="modal_confirm" aria-labelledby="modalTitle" aria-describedby="modalDialog" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="modalTitle">Eliminazione ordine</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalDialog">
        <p>Eliminare l'ordine <span id="ordnum_modal">1234</span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="delete_confirm" name="delete_confirm" ordine="">Elimina</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$(document).ajaxComplete(function() {
//$(document).ready(function() {
		
		function popoverContent() {
			var content = '';
			var element = $(this);
			var id = element.attr("code");

			// Fantastico, se faccio la chiamata senza l'opzione
			// async mi ritorna la variabile content vuota appena
			// fuori dalla success!
			// Però l'opzione è deprecated, stando ai messaggi
			// della console: siamo a posto... -__-
			$.ajax({  
			{% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
				url: '/api/customers/' + id.trim() +'/',
			{% elif request.session.gruppo == "customers" or request.session.gruppo == "managers" %}
				url: '/api/agents/' + id.trim() +'/',
			{% endif %}
				method: 'GET',
				async: false,
				success:function(response) {
				{% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
					content = $("#popover_customer").html();

					content = content.replace(/p_code/g, response.cust_code);
					content = content.replace(/p_name/g, response.cust_name);
					content = content.replace(/p_city/g, response.cust_city);
					content = content.replace(/p_country/g, response.cust_country);
					content = content.replace(/p_grade/g, response.grade);

				{% elif request.session.gruppo == "customers" or request.session.gruppo == "managers" %}
					content = $("#popover_agent").html();

					content = content.replace(/p_code/g, response.agent_code);
					content = content.replace(/p_name/g, response.agent_name);
					content = content.replace(/p_warea/g, response.working_area);
					content = content.replace(/p_commission/g, response.commission);
					content = content.replace(/p_phone/g, response.phone_no);
				{% endif %}
				},
				error: function(response) {	
				}
			});

			return content;
		}

		$('.popover_cli').popover({  
				title: '<i class="fas fa-user"></i> About',  
				html: true,  
				placement: 'right',
				animation: true,
				trigger: 'click, focus',
				sanitize: true,
				content: popoverContent
			}); 

		$('.popover_age').popover({  
				title: '<i class="fas fa-user-tie"></i> About',  
				html: true,  
				placement: 'right',
				animation: true,
				trigger: 'click, focus',
				sanitize: true,
				content: popoverContent
			});

});


$(document).ready(function() {
		function popoverContent() {
			var content = '';
			var element = $(this);
			var id = element.attr("code");

			// Fantastico, se faccio la chiamata senza l'opzione
			// async mi ritorna la variabile content vuota appena
			// fuori dalla success!
			// Però l'opzione è deprecated, stando ai messaggi
			// della console: siamo a posto... -__-
			$.ajax({  
			{% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
				url: '/api/customers/' + id.trim() +'/',
			{% elif request.session.gruppo == "customers" or request.session.gruppo == "managers" %}
				url: '/api/agents/' + id.trim() +'/',
			{% endif %}
				method: 'GET',
				async: false,
				success:function(response) {
				{% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
					content = $("#popover_customer").html();

					content = content.replace(/p_code/g, response.cust_code);
					content = content.replace(/p_name/g, response.cust_name);
					content = content.replace(/p_city/g, response.cust_city);
					content = content.replace(/p_country/g, response.cust_country);
					content = content.replace(/p_grade/g, response.grade);

				{% elif request.session.gruppo == "customers" or request.session.gruppo == "managers" %}
					content = $("#popover_agent").html();

					content = content.replace(/p_code/g, response.agent_code);
					content = content.replace(/p_name/g, response.agent_name);
					content = content.replace(/p_warea/g, response.working_area);
					content = content.replace(/p_commission/g, response.commission);
					content = content.replace(/p_phone/g, response.phone_no);
				{% endif %}
				},
				error: function(response) {	
				}
			});

			return content;
		}

		$('.popover_cli').popover({  
				title: '<i class="fas fa-user"></i> About',  
				html: true,  
				placement: 'right',
				animation: true,
				trigger: 'click, focus',
				sanitize: true,
				content: popoverContent
			}); 

		$('.popover_age').popover({  
				title: '<i class="fas fa-user-tie"></i> About',  
				html: true,  
				placement: 'right',
				animation: true,
				trigger: 'click, focus',
				sanitize: true,
				content: popoverContent
			});

	/* Avendo messo nei settings di Django CSRF_USE_SESSIONS = True
   * e CSRF_COOKIE_HTTPONLY = True, richiamo il token csrf semplicemente
   * dal campo (nascosto) html, che sarebbe poi rappresentato dalla
   * istruzione {% csrf_token %} */
	 const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

	// Creo l'oggetto modal e lo lancio
	const myModal = new bootstrap.Modal(document.getElementById('modal_confirm'));

	/*
	 * Cancellazione ordine. I casi sono due:
	 * - se lascio $('.delete_order).click(), il metodo funziona
	 * quando la pagina è caricata, ma smette di funzionare se 
	 * richiamato dentro conteneuti generati da una chiamata AJAX
	 * (tipo il riordino delle tabelle, per capirci)
	 * - la seconda soluzione funziona in tutti e due i casi, ma
	 * è brutta a vedersi (forse la metto in un file separato
	 * assieme alla "replica" delle funzioni popover...)
	 */
	//$(".delete_order").click(function(e) {
	$('body').on('click', '.delete_order', function(e) {
    e.preventDefault();

    // recupero l'id dell'ordine da cancellare e
		// lo passo al modal
    ord = $(this).attr('id');
		$('#delete_confirm').attr('ordine', ord);
		$('#ordnum_modal').html(ord);

		myModal.show();

	});

	$('#delete_confirm').click(function(e) {
		e.preventDefault();

		ord = $(this).attr('ordine');

		myModal.hide();
		
		// Richiesta AJAX DELETE. Non servono dati JSON o altro,
		// ma il token csrf va passato anche in questo caso...
		$.ajax({
			url: "/api/orders/delete/" + ord + "/",
			type: 'DELETE',
			headers: {
        'X-CSRFToken': csrftoken
      }, 
			success: function(message) {
				$('#row_' + ord).fadeOut(300, function(){
					$(this).remove();
				})
				
				//$('#row_' + ord).remove();
			},
			error: function(message) {
				//alert(message.responseText)
			}

		})

	});

	/*
	 * Formatta la data da YYYY-mm-dd
	 * a dd/mm/YYYY
	 */
	function formatta_data(data) {
		// Scompongo la data in input
		var formattedDate = new Date(data);
		var d = formattedDate.getDate();

		// Aggiungo uno 0 davanti se il giorno è < 10
		if(d < 10) {
			d = '0' + d;
		}

		var m =  formattedDate.getMonth();
		var Y = formattedDate.getFullYear();

		m = m+1; // Per qualche motivo conta un mese in meno...

		// Stesso discorso del giorno, aggiungo uno zero
		// davanti al mese se questo è < 10
		if(m < 10) {
			m = '0' + m;
		}

		// Riformatto la data nel formato dd/mm/YYYY 
		data = d + '/' + m + '/' + Y;

		return data;
	}

	/*
	 * Ordinamento colonne
	 */
	$(".ordina").click(function(e) {
		e.preventDefault();

		/*
		 * Setto il tipo di ordinamento per la colonna
		 * selezionata. A differenza delle normali query
		 * SQL, Django non usa ASC o DESC per gli ordinamenti
		 * crescenti/decrescenti, ma una semplicemente 
		 * nomecampo per l'ordinamento crescente e
		 * -nomecampo per quelli decrescenti. L'unico modo
		 * per tenere traccia di quale ordinamento si sta
		 * visualizzando ora per una data colonna è sostituire
		 * il campo "sort" appositamente messo nel tag <span>
		 * di ogni colonna
		 */
		sort = $(this).attr('sort');

		// Controllo se il primo carattere della stringa è "-":
		// se non lo è, aggiungo il "-" alla stringa, per
		// poter poi eventualmente fare l'ordinamento 
		// decrescente per la colonna considerata,
		// altrimento lo tolgo per fare poi l'ordinamento
		// crescente
		if(sort.charAt(0) != "-") {
			$(this).attr('sort', '-' + sort);
		}
		else {
			$(this).attr('sort', sort.substring(1));
		}

		// Richiesta AJAX GET per recuperare i dati
		// di tutti gli ordini
		$.ajax({
        url: '/api/orders/?sort_by=' + sort,
        type: 'GET',
        dataType: 'json',
        success: function(response) {
					// Svuoto il il tbody prima di fare l'append
					// delle righe ordinate!
					$('#orderTable').empty();

					// Recupero i dati dall'oggetto response 
					// restituito dalla chiamata all'API
					// e appendo le righe ordinate
          var len = response.length;

					for(var i=0; i<len; i++){
                var ord_num = response[i].ord_num;
                var ord_date = response[i].ord_date;
                var ord_amount = response[i].ord_amount;
                var advance_amount = response[i].advance_amount;
                var cust_code = response[i].cust_code;
                var agent_code = response[i].agent_code;
                var cust_name = response[i].cust_name;
                var agent_name = response[i].agent_name;
                var ord_description = response[i].ord_description;

                var tr_str = '<tr id="row_'+ ord_num + '">' +
                    '<td>' + ord_num + '</td>' +
                    '<td>' + formatta_data(ord_date) + '</td>' +
                    '<td>' + ord_amount + '</td>' +
                    '<td>' + advance_amount + '</td>' +
                {% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
                    '<td id="' + cust_code + '"><a href="javascript:return false;" class="popover_cli" code="' + cust_code + '">' + cust_name + '</td>' +
                {% endif %}
                {% if request.session.gruppo == "customers" or request.session.gruppo == "managers"  %}
                    '<td id="' + agent_code + '"><a href="javascript:return false;" class="popover_age" code="' + agent_code  + '">' + agent_name + '</td>' +
                {% endif %}
                    '<td>' + ord_description + '</td>' +
								{% if request.session.gruppo == "agents" or request.session.gruppo == "managers" %}
                    '<td class="nowrap"><a href="/ordini/modifica/' + ord_num + '" title="Modifica ordine"><i class="fas fa-edit"></i></a>' +
										'&nbsp;&nbsp;&nbsp;' + 
										'<a class="delete_order" id="' + ord_num + '" title="Elimina ordine"><i class="fas fa-trash-alt"></i></a></td>' +
                    '</tr>';
								{% elif request.session.gruppo == "customers" %}
										'<td>&nbsp;</td>';
								{% endif %}

                $("#orderTable").append(tr_str);
          }
				}
			});
	});
});


	</script>

{% endblock %}
