<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Progetto WebApp - Login</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'  %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'  %}">

  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
</head>

<body>

<div class="container">
  <div class="row justify-content-center align-items-center" style="height:80vh">
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-4">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>

</body>
</html>
